<section id="hero" class="hero d-flex align-items-center ">
    <div id="carouselExampleInterval" class="carousel slide offset-1 ps-5 pt-5 " data-bs-ride="carousel">
        <div class="carousel-inner ">
            <div class="carousel-item active " data-bs-interval="10000">
                <img src="assets/img/bn9.jpg" class="d-block " alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="assets/img/bn5.jpg" class="d-block   " alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/bn3.jpg" class="d-block" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/bn8.jpg" class="d-block" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>
</section><!-- End Hero -->
<div class=" w-100  mt-5" style="padding: 0 300px 0 350px;">
    <div class="row  mb-5">
        <div class="col-lg ">
            <div class="notice col-lg-8" ng-show="showNotice">
                <h4 class="text-danger">Các thành viên được giao hàng miễn phí
                    cho các đơn đặt hàng trên 500.000đ</h5>
                    <div></div>
                    <h4 class="text-secondary col-lg-10">Trở thành Thành viên CW để
                        được giao hàng miễn phí nhanh chóng
                        cho đơn đặt hàng trên 500.000đ
                        <i class="bi bi-arrow-right ms-2"> <a href="/login.html"
                                class="text-dark text-decoration-underline">Sign-in</a>
                            or <a href="#signup" class="text-dark text-decoration-underline"> Sign-up</a>
                        </i>
                    </h4>
            </div>
            <div class="cart mt-5">
                <h4 class="fw-bold"> Giỏ hàng ({{countItem}})</h4>
                <div class="itemsEmpty text-center" ng-show="items.length==0">
                    <img src="/assets/img/empty_cart.png" alt="" srcset="">
                    <br>
                    <a type="button" class="btn btn-info" href="#home"> Mua ngay</a>
                </div>
                <div class="item col-lg" ng-repeat="pr in items">
                    <div ng-init="idCart = pr.cart.id"
                        ng-init="loadSize(pr.productDetail.product.id, pr.productDetail.color.id)"></div>
                    <div class="card  border border-0"
                        ng-init="loadSize(pr.productDetail.product.id, pr.productDetail.color.id)">
                        <div class="row mt-3 ">
                            <div class="col-lg-1 text-start form-check">
                                <input type="checkbox" ng-model="pr.checked" ng-change="check()" aria-hidden="true"
                                    id="check" class="form-check-input ms-3 mt-4 fs-4 border-dark">
                            </div>
                            <div class="col-lg-3 mt-3">
                                <a ng-href="#/product-detail/{{pr.productDetail.product.id}}" class="border-0">
                                    <img ng-src="assets/img/product/sp1/{{pr.productDetail.product.listImage[0].link}}"
                                        class="card-img-center   border border-4 rounded-4 w-100 p-2 h-75 bg-secondary bg-opacity-25"
                                        alt="{{pr.productDetail.product.name}}">
                                </a>
                            </div>
                            <div class="col-lg-7" for="check">
                                <div class="card-body row">
                                    <div class="card-text col-lg">
                                        <p class="fw-bold mb-0 fs-5">{{pr.productDetail.product.name}}</p>
                                        <p class="mb-0">{{pr.productDetail.product.category.name}}</p>
                                        <p class="mb-0">Màu sắc:
                                            {{pr.productDetail.color.name}}</p>
                                        <span class="span_item">
                                            <p class="mb-0 row mt-2">
                                                <label for class="col-lg-3">Kích thước</label>
                                                <select name="size" id="sizeSelect"
                                                    class="col-lg-2 me-4 ms-3 border border-1 border-dark mb-3"
                                                    ng-model="pr.productDetail.size.name"
                                                    ng-click="updateProductId(pr.productDetail.product.id,pr.id)"
                                                    ng-change="updateProductSize(pr.productDetail.size.name,pr.productDetail.color.id)">
                                                    <option
                                                        ng-repeat="sz in productSizes[pr.productDetail.product.id][pr.productDetail.color.id]"
                                                        ng-value="sz.name">{{
                                                        sz.name }}</option>
                                                </select>
                                            </p>
                                            <div class="row">
                                                <p class="col-lg-3 ms-0">Số lượng</p>
                                                <div class="col-lg-6 d-flex align-items-center">
                                                    <div class="input-group quantity-input">
                                                        <div class="input-group-prepend">
                                                            <button class="quantity-button border-1" type="button"
                                                                ng-click="decreaseQuantity(pr)">
                                                                <i class="bi bi-dash"></i>
                                                            </button>
                                                        </div>
                                                        <!-- Sử dụng ng-model để liên kết quantity với productInfoList.quantity -->
                                                        <input type="number" class="quantity-value border-1"
                                                            aria-label="Quantity" ng-model="pr.quantity"
                                                            ng-keypress="onInputKeyPress($event,pr)"
                                                            ng-blur="onInputBlur(pr)">
                                                        <div class="input-group-append">
                                                            <button class="quantity-button border-1" type="button"
                                                                ng-click="increaseQuantity(pr)">
                                                                <i class="bi bi-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="icon row mt-1 ">
                                                <div class="col-lg-1  me-3">
                                                    <a href="#favourite">
                                                        <i class="bi bi-heart text-dark fs-4 " title="Favourite ❤️"></i>
                                                    </a>
                                                </div>
                                                <div class="col-lg-1 ">
                                                    <button ng-click="confirmDelete(pr.productDetail.id,pr.cart.id)"
                                                        class="border-0 bg-light">
                                                        <i class="bi bi-trash3 text-dark fs-4" title="Delete 🗑️"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </span>
                                    </div>

                                    <p class="card-text col-lg-3 text-end" ng-show="!pr.hasPromotion"> {{pr.productDetail.price | vndCurrency }}
                                        <div class="row card-text col-lg-3 text-end" ng-show="pr.hasPromotion">
                                            <p class="col text-danger">{{pr.priceWithPromo| vndCurrency}}</p>
                                            <p class="col text-decoration-line-through">{{pr.productDetail.price | vndCurrency }}</p>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        .sticky {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            background-color: rgb(255, 255, 255);
            width: 1400px;
            padding: 10px;
            border-top: solid;
        }
    </style>
    <div class="sticky">
        <div class="ms-5">
            <div class="">
                <div>
                    <h4 class> Đơn hàng </h4>
                </div>
                <hr>
                <div class="bill mt-1 row">
                    <div class="col-lg-4">
                        <input type="checkbox" name="" id="selectAll"ng-model="selectAllChecked" ng-change="checkAll()" class="form-check-input fs-4 border-dark ">
                        <label for="selectAll" class="fs-5 ms-4 " >Chọn tất cả ({{countItem}})</label>
                        <button type="button" class="btn fs-5" ng-click="deleteItems()">Xóa</button>
                    </div>
                    <div class="col-lg d-flex text-end">
                        <h5 class="me-3  mt-1">Tổng tiền({{itemSelected.length}} sản phẩm): </h5>
                        <h5 class="me-4  mt-1">{{ totalPrice==0 ?"0đ":totalPrice | vndCurrency }}</h5>
                        <div class="">
                            <a ng-click="addBill()" href="#payment" class="btn btn-dark rounded-3"> Thanh toán</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="like mb-5 " style="width: 1400px; ">
        <div class="row">
            <div class="col-lg fs-4">Có thể bạn sẽ thích </div>
            <div class="col-lg text-end">
                <button class="btn btn-secondary" type="button" ng-click="prevSlide()"
                    data-bs-target="#carouselExample">
                    <i class="bi bi-chevron-left"></i> <span class="visually-hidden">Previous</span>
                </button>
                <button class="btn btn-secondary" type="button" ng-click="nextSlide()">
                    <i class="bi bi-chevron-right"></i> <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel ">
            <div class="carousel-inner carousel-fade">
                <div class="carousel-item like " ng-repeat="slide in slides"
                    ng-class="{ 'active': $index === activeSlideIndex }">
                    <div class="row">
                        <div class="col-lg carousel-slide " ng-repeat="pr in slide"
                            ng-class="{ 'd-none': $index >= numVisibleItems }">
                            <a ng-href="#/product-detail/{{pr.id}}">
                            <img ng-src="assets/img/product/sp1/{{pr.listImage[0].link }}"
                                alt="{{pr.listImage[0].link }}" style="height: 200px; background-color: whitesmoke; ">
                            <h4 class="ms-5 text-dark" >{{ pr.name }}</h4>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




