<link rel="stylesheet" href="/assets/css/portfolio.css">
<div style="height: 100px;"></div>
<div class="" style="padding: 0 200px 0 290px;">
  <div class="text-center  pt-5 pb-5 mt-2 ms-1 fw-bold bg-light">
    <h3>Thông tin cá nhân </h3>
  </div>

<div class=" d-flex ms-2">
  <ul class=" mcd-menu  flex-column nav-pills ms-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <li id="account-tab" data-bs-toggle="pill" data-bs-target="#account" aria-controls="account"
      aria-selected="true" class="active">
      <a>
        <i class="fa fa-home"></i>
        <strong>Tài khoản</strong>
      </a>
    </li>
    <li id="order-tab" data-bs-toggle="pill" data-bs-target="#order" aria-controls="order"
      aria-selected="false">
      <a>
        <i class="fa fa-edit"></i>
        <strong>Đơn mua</strong>
      </a>
    </li>
    <li id="address-tab" data-bs-toggle="pill" data-bs-target="#address" aria-controls="address"
      aria-selected="false">
      <a>
        <i class="fa fa-gift"></i>
        <strong>Địa chỉ</strong>
      </a>
    </li>
    <li id="voucher-tab" data-bs-toggle="pill" data-bs-target="#voucher" aria-controls="voucher"
      aria-selected="false">
      <a>
        <i class="fa fa-globe"></i>
        <strong>Kho voucher</strong>
      </a>
    </li>
  </ul>
  <div class="tab-content ms-5">
    <!-- Content for Tài khoản tab -->
    <div id="account" class="tab-pane fade show active">
      <div class="bg-light border" style="width:900px; padding: 0 20px 0 20px;">
        <div class="row ">
          <div class="mt-5 col-7">
            <h4>Hồ sơ của tôi</h4>
            <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
          </div>
          <!-- <div class="col text-center ">
            <img src="/assets/img/user/{{info.image}} " class="rounded-4 mt-3" style="width: 120px; height: 100px;"
              alt="{{info.image}}">
            <input type="file" id="imageInput" accept="image/*" style="display: none" file-input ng-model="info.image">
            <button class="btn text-start border mt-1 ms-2" ng-click="selectImage($event)">Chọn ảnh</button>
          </div> -->
          <hr>
        </div>
        <div>
          <form action>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                ng-model="info.userName" readonly>
              <label for="floatingInput">Tên đăng nhập
              </label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                ng-model="info.fullName">
              <label for="floatingTextarea">Họ và tên</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                ng-model="info.email">
              <label for="floatingTextarea2">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                ng-model="info.phone">
              <label for="floatingTextarea2">Số điện thoại</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-control" id="exampleSelectGender" ng-model="info.gender"
                ng-options="gender as (gender ? 'Nam' : 'Nữ') for gender in [true, false]">
              </select>
              <label for="floatingTextarea2">Giới tính</label>
            </div>
            <div class="form-floating mb-3">
              <input type="date" class="form-control" id="floatingInputDisabled" placeholder="name@example.com"
                ng-model="info.dateOfBirth" ng-value="dateFormat(info.dateOfBirth)">
              <label for="floatingTextarea2">Ngày sinh
              </label>
            </div>
            <button type="button" class="btn btn-outline-info mb-5" style="width: 10%;"
              ng-click="UpdateUser()">Lưu</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Content for Đơn mua tab -->
    <div id="order" class="tab-pane fade">
      <div ng-include="'page/order.html'"></div>

    </div>

    <!-- Content for Địa chỉ tab -->
    <div id="address" class="tab-pane fade">
      <div class="bg-light border " style="width:900px; padding: 0 20px 20px 20px;">
        <div class="row ms-2 ">
            <div class="mt-5 col-8">
                <h4>Địa chỉ của tôi</h4>
                <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
            </div>
            <div class="col mt-5 text-end">
                <button class="btn text-center bg-light mt-3"
                    ng-click="resetModalContent()"
                    data-bs-toggle="modal"
                    data-bs-target="#addressModal">Thêm địa chỉ mới</button>
            </div>
            <hr >
        </div>
        <div class="address-item ms-0  row"
            ng-repeat="add in addressUser | orderBy:'-Id'">
            <div ng-init="loadProvince()"></div>
            <div ng-init="loadDistrictUser(add.ProvinceID)"></div>
            <div ng-init="loadWardUser(add.DistrictID)"></div>
            <label for="{{add.id}}" class="address-radio d-flex ">
                <div class="address-info ms-3">
                    <strong>{{add.UserName}}</strong> | <span>{{add.PhoneNumber}}</span>
                    <div>{{add.AddressDetail}}</div>
                    <div>{{ wardsByProvince[add.DistrictID]|
                        findWardNameById:add.WardCode }},{{
                        districtsByProvince[add.ProvinceID]|
                        findDistrictNameById:add.DistrictID }},{{
                        provinces
                        | findProvinceNameById:add.ProvinceID }}</div>
                </div>
                <div class=" col mb-3 text-end  ">
                    <a style="cursor: pointer; color: #1545e1;"
                        ng-click="getUpdate(add)"
                        data-bs-toggle="modal"
                        data-bs-target="#addressModal" class="me-2" title="Cập nhật ">
                        <i class="fs-4  bi bi-pencil-square"></i>
                    </a>
                    <a  ng-click="deleteAdr(add)"
                        style="cursor: pointer; color: #FC424A;" title="Xóa"><i
                            class="fs-4  bi bi-trash"></i>
                    </a>
                </div>
            </label>
            <hr class="bg-dark ms-3 w-75">
        </div>
    </div>
    </div>

    <!-- Content for Kho voucher tab -->
    <div id="voucher" class="tab-pane fade">
      <h3>Kho voucher</h3>
      <p>Nội dung của tab Kho voucher ở đây.</p>
    </div>

    <!-- Content for Blog tab -->
    <div id="v-pills-blog" class="tab-pane fade">
      <h3>Blog</h3>
      <p>Nội dung của tab Blog ở đây.</p>
    </div>
  </div>
</div>
</div>