<nav class="sidebar sidebar-offcanvas" id="employeeMenu">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Sản Phẩm</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#kich-thuoc">Kích cỡ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#material">Chất Liệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#hinh-anh">Hình ảnh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#category">Phân Loại</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#brand">Thương Hiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#color">Màu sắc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product-detail">Sản phẩm chi tiết</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- tài khoản -->
    <li class="nav-item">
      <a class="nav-link" href="#tai-khoan">
        <img src="/template/images/account.png"  alt="" srcset="" class="menu-iconw-75 h-75">
        <span class="menu-title ms-3 ">Tài Khoản</span>
      </a>
    </li>
    <!-- nhân viên -->
    <li class="nav-item">
      <a class="nav-link" href="#nhan-vien">
        <i class="fa-regular fa-user-large menu-icon"></i>
        <span class="menu-title">Nhân Viên</span>
      </a>
    </li>

    <!-- khách hàng -->
    <li class="nav-item">
      <a class="nav-link" href="#khach-hang">
        <i class="fa-light fa-users fa-2xl menu-icon"></i>
        <span class="menu-title">Khách Hàng</span>
      </a>
    </li>

    <!-- thống kê -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#bieu-do">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Thống Kê</span>
      </a>
    </li>

    <!-- khuyến mại -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#khuyen-mai">
        <i class="fa-solid fa-tag menu-icon"></i>
        <span class="menu-title">Khuyến Mại</span>
      </a>
    </li>

    <!-- Đơn Hàng -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#order">
        <i class="fa-regular fa-truck menu-icon"></i>
        <span class="menu-title">Quản lý hóa đơn</span>
      </a>
    </li>

    <!-- Hóa Đơn -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sell-admin">
        <i class="fa-regular fa-scroll menu-icon"></i>
        <span class="menu-title">Mua hàng tại quầy</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#voucher">
        <i class="mdi mdi-sale menu-icon"></i>
        <span class="menu-title">Phiếu Giảm Giá </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#rank">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="20" class="mr-3"
          viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
          <path
            d="M353.8 54.1L330.2 6.3c-3.9-8.3-16.1-8.6-20.4 0L286.2 54.1l-52.3 7.5c-9.3 1.4-13.3 12.9-6.4 19.8l38 37-9 52.1c-1.4 9.3 8.2 16.5 16.8 12.2l46.9-24.8 46.6 24.4c8.6 4.3 18.3-2.9 16.8-12.2l-9-52.1 38-36.6c6.8-6.8 2.9-18.3-6.4-19.8l-52.3-7.5zM256 256c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H384c17.7 0 32-14.3 32-32V288c0-17.7-14.3-32-32-32H256zM32 320c-17.7 0-32 14.3-32 32V480c0 17.7 14.3 32 32 32H160c17.7 0 32-14.3 32-32V352c0-17.7-14.3-32-32-32H32zm416 96v64c0 17.7 14.3 32 32 32H608c17.7 0 32-14.3 32-32V416c0-17.7-14.3-32-32-32H480c-17.7 0-32 14.3-32 32z" />
        </svg> <span class="menu-title ">Hạng Khách Hàng</span>
      </a>
    </li>


  </ul>
</nav>

<!-- nhan vien binh thuong -->
<nav class="sidebar sidebar-offcanvas" id="adminMenu">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Sản Phẩm</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#kich-thuoc">Kích cỡ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#material">Chất liệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#color">Màu sắc</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#category">Phân loại</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#brand">Thương hiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#nsx"> Nhà sản xuất </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#product-detail">Sản phẩm chi tiết</a>
          </li>
        </ul>
      </div>
    </li>


    <!-- Đơn Hàng -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#order">
        <i class="fa-regular fa-truck menu-icon"></i>
        <span class="menu-title">Đơn Hàng</span>
      </a>
    </li>

    <!-- Đánh Giá -->
    <!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#danh-gia">
        <i class="fa-regular fa-thumbs-up menu-icon"></i>
        <span class="menu-title">Đánh Giá</span>
      </a>
    </li> -->
    <!-- Hóa Đơn -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sell-admin">
        <i class="fa-regular fa-scroll menu-icon"></i>
        <span class="menu-title">Hóa Đơn</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#order">
        <i class="fa-regular fa-truck menu-icon"></i>
        <span class="menu-title">Đơn Hàng</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/template/forgot-password.html">
        <i class="fa-solid fa-poo fa-beat menu-icon"></i>
        <span class="menu-title">Sun sun </span>
      </a>
    </li>

    <!-- 
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/FE_Admin/template/forgot-password.html">
        <i class="fa-solid fa-poo fa-beat menu-icon"></i>
        <span class="menu-title">Sun sun </span>
      </a>
    </li> -->

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#nsx">
        <i class="fa-duotone fa-industry-windows"></i>
        <span class="menu-title">Nhà sản xuất </span>
      </a>
    </li>



  </ul>
</nav>


<script>
  var data = localStorage.getItem('userData');
  var role = JSON.parse(data);

  var role_employee = false;
  var role_admin = false;

  var data = localStorage.getItem('userData');
  var role = JSON.parse(data);

  // Kiểm tra độ dài của mảng role
  if (role.roles.length === 1) {
    // Nếu độ dài là 1, sử dụng vai trò ở vị trí đầu tiên
    if (role.roles[0] === "ROLE_ADMIN") {
      role_admin = true;
    } else if (role.roles[0] === "ROLE_EMPLOYEE") {
      role_employee = true;
    }
  } else if (role.roles.length > 1) {
    // Nếu độ dài lớn hơn 1, mặc định là admin
    role_admin = true;
    // Có thể xử lý các vai trò khác nếu cần
  }

  // Kiểm tra và xử lý các vai trò
  if (role_admin) {
    console.log('Người dùng có vai trò ROLE_ADMIN');
    // Thực hiện các hành động hoặc hiển thị menu cho ROLE_EMPLOYEE

    document.getElementById('employeeMenu').style.display = 'block';
    document.getElementById('adminMenu').style.display = 'none';
  } else if (role_employee) {
    console.log('Người dùng có vai trò ROLE_EMPLOYEE');
    // Thực hiện các hành động hoặc hiển thị menu cho ROLE_ADMIN
    document.getElementById('employeeMenu').style.display = 'none';
    document.getElementById('adminMenu').style.display = 'block';
  } else {
    document.getElementById('employeeMenu').style.display = 'none';
    document.getElementById('adminMenu').style.display = 'none';
  }



</script>