
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Staff Table</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>STT</th>
                          <th>Ma</th>
                          <th>Họ và Tên</th>
                          <th>Ngày Sinh</th>
                          <th>Giới Tính</th>
                          <th>Địa Chỉ</th>
                          <th>Email</th>
                          <th>Số Điện Thoại</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in listUSers | filter:searchText">
                          <td>{{$index+1}}</td>
                          <td>{{item.code}}</td>
                          <td>{{item.fname}} {{item.middleName}} {{item.name}}</td>
                          <td>{{ item.dateOfBirth.substring(0, 10) }}</td>
                          <td>{{item.gender == true ? 'nam' : 'nu'}}</td>
                          <td>{{item.address}}</td>
                          <td>{{item.email}}</td>
                          <td>{{item.phoneNumber}}</td>
                          <td >
                           <a  href="#"  style="text-decoration: none; color: #03ff70;"> <i class="fas fa-fw  fa-edit" style="margin-right: 15px"></i> </a>
                           <a href="#" ng-click="removeStaff($event,$index)" style="text-decoration: none; color: #FC424A;">  <i class="fas fa-fw  fa-trash"></i> </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav aria-label="Page navigation example" style="margin-top: 34px; color: #ffffff;">
                      <ul class="pagination justify-content-end">
                        <li class="page-item ">
                          <a class="page-link" ng-click="previousPage()">Previous</a>
                        </li>
                        <li class="page-item" ><a class="page-link"  ng-click="PageNo(0);">1</a></li>
                        <li class="page-item"><a class="page-link"  ng-click="PageNo(1);">2</a></li>
                        <li class="page-item"><a class="page-link"  ng-click="PageNo(2);">3</a></li>
                        <li class="page-item">
                          <a class="page-link" ng-click="nextPage()">Next</a>
                        </li>
                      </ul>
                    </nav>
                    
                  </div>
                </div>
              </div>
            </div>
  
          </div>
      
 

  