<style>
  .table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: rgb(172, 172, 198); /* Đặt màu nền khi hover thành màu xanh */
    color: rgb(255, 255, 255); /* Đặt màu chữ khi hover thành màu đỏ */
  }
  
</style>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Quản Lý Nhân Viên</h4>
      <p class="card-description" ><input  style="background-color: #191c24;color: #ebeaea;border: #575656 solid 1px;border-radius: 13px;width: 250px;height: 33px;" type="text" ng-model="searchText" placeholder="    Search nhân viên">
      </p>
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>STT</th>
              <th>Ma</th>
              <th>Họ và Tên</th>
              <th>Ngày Sinh</th>
              <th>Giới Tính</th>
              <th>Địa Chỉ</th>
              <th>Email</th>
              <th>Số Điện Thoại</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in listUSers | filter:searchText">
              <th>{{$index+1}}</th>
              <th>{{item.code}}</th>
              <th>{{item.fname}} {{item.middleName}} {{item.name}}</th>
              <th>{{ item.dateOfBirth.substring(0, 10) }}</th>
              <th>{{item.gender == true ? 'nam' : 'nu'}}</th>
              <th>{{item.address}}</th>
              <th>{{item.email}}</th>
              <th>{{item.phoneNumber}}</th>
              <th >
               <a  href="#"  style="text-decoration: none; color: #03ff70;"> <i class="fas fa-fw  fa-edit" style="margin-right: 15px"></i> </a>
               <a href="#" ng-click="removeStaff($event,$index)" style="text-decoration: none; color: #FC424A;">  <i class="fas fa-fw  fa-trash"></i> </a>
              </th>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example" style="margin-top: 30px; color: #ffffff;">
          <ul class="pagination justify-content-end">
            <li class="page-item ">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item" ><a class="page-link"  ng-click="PageNo(0);">1</a></li>
            <li class="page-item"><a class="page-link"  ng-click="PageNo(1);">2</a></li>
            <li class="page-item"><a class="page-link"  ng-click="PageNo(2);">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
              
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>