<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-toggle="collapse"
        href="#ui-basic"
        aria-expanded="false"
        aria-controls="ui-basic"
      >
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Sản Phẩm</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item">
            <a class="nav-link" href="#kich-thuoc">Kích Thước</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#chat-lieu">Chất Liệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#phan-loai">Phân Loại</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#thuong-hieu">Thương Hiệu</a>
          </li>
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Form elements</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" >
              <i class="icon-bar-graph menu-icon"></i>
              <span class="menu-title">Charts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Tables</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
              <i class="icon-contract menu-icon"></i>
              <span class="menu-title">Icons</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="icon-ban menu-icon"></i>
              <span class="menu-title">Error pages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li> -->

    <!-- nhân viên -->
    <li class="nav-item">
      <a class="nav-link" href="#nhan-vien">
        <i class="fa-regular fa-user-large menu-icon"></i>
        <span class="menu-title">Nhân Viên</span>
      </a>
    </li>

    <!-- khách hàng -->
    <li class="nav-item">
      <a class="nav-link" href="#khach-hang">
        <i class="fa-light fa-users fa-2xl menu-icon"></i>
        <span class="menu-title">Khách Hàng</span>
      </a>
    </li>

    <!-- thống kê -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#bieu-do">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Biểu Đồ</span>
      </a>
    </li>

    <!-- khuyến mại -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#khuyen-mai">
        <i class="mdi mdi-sale menu-icon"></i>
        <span class="menu-title">Khuyến Mại</span>
      </a>
    </li>

    <!-- Đơn Hàng -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#don-hang">
        <i class="fa-regular fa-truck menu-icon"></i>
        <span class="menu-title">Đơn Hàng</span>
      </a>
    </li>
    <!-- Đánh Giá -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#danh-gia">
        <i class="fa-regular fa-thumbs-up menu-icon"></i>
        <span class="menu-title">Đánh Giá</span>
      </a>
    </li>
    <!-- Hóa Đơn -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#hoa-don">
        <i class="fa-regular fa-scroll menu-icon"></i>
        <span class="menu-title">Hóa Đơn</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/template/register.html">
        <i class="fa-regular fa-toilet menu-icon"></i>
        <span class="menu-title">Nhà vệ xinh xấu ra ngoài </span>
      </a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="/template/forgot-password.html">
        <i class="fa-regular fa-sun menu-icon"></i>
        <span class="menu-title">Mat troi xinh siu </span>
      </a>
    </li>
  </ul>
</nav>
