<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Product table</h4>

      <!-- <button class="btn-primary"  id="add-icon" ng-click="toggleForm()" >
                  <i class="fa-solid fa-plus fa-sx" style="color: #ffffff;"></i>
                  Add New User</button> -->


      <div class="search-container">
        <input type="text" id="btn-search" ng-model="searchText" placeholder="Search a Product">
        <i class="fa-light fa-magnifying-glass"></i>
      </div>

      <button ng-click="deleteAll()" id="delete-all" class="btn btn-danger mt-3"><i class="fa-duotone fa-trash"></i> Xoá
        Nhiều</button>


      <div class="btn-group">

        <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="toggleForm()" data-toggle="modal"
          data-target="#productAddModal">
          <i class="fa-solid fa-plus fa-lg" style="color: #ffffff;"></i></button>

        <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="reLoad()">
          <i class="fa-solid fa-arrows-rotate "></i>
        </button>



        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuIconButton3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-list"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
            <label class="dropdown-item">
              <input type="checkbox" ng-model="selectAll" ng-change="toggleAll()"> Chọn Tất Cả
            </label>
            <hr>
            <label class="dropdown-item" ng-repeat="column in columns">
              <input type="checkbox" ng-model="column.selected" ng-change="toggleColumn(column)">
              {{ column.name }}
            </label>
          </div>
        </div>


        <input type="file" id="input-file" onchange="angular.element(this).scope().import(this.files)"
          style="display:none;">
        <button type="button" id="btn-icon" class="btn btn-secondary " onclick="triggerFileInput()">
          <i class="fa-sharp fa-solid fa-file-import"></i>
        </button>

        <!-- <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToExcel()"> Excel</button>
                <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="exportToSVG()">SVG</button> -->


        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuIconButton1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-down-to-line"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
            <a class="dropdown-item" ng-click="exportToSVG()">SVG</a>
            <a class="dropdown-item" ng-click="exportToExcel()">Excel</a>
            <a class="dropdown-item" ng-click="exportToPDF();">PDF</a>
          </div>
        </div>

      </div>



      <!-- start table -->
      <div class="table-responsive pt-3">
        <table class="display expandable-table" style="width: 100%" id="ProductTable">
          <thead>
            <tr>
              <th>
                <input ng-model="selectAllCheckbox" ng-change="selectAllChanged()" class="select-checkbox"
                  type="checkbox"> #
              </th>
              <th ng-show="columns[1].selected" ng-click="sortData('name')">Tên Kích cỡ<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[2].selected" ng-click="sortData('mainImg')">Ảnh chính<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[3].selected" ng-click="sortData('description')">Mô tả<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[4].selected" ng-click="sortData('brands')">Thương hiệu<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[5].selected" ng-click="sortData('category')">Phân loại<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[6].selected" ng-click="sortData('status')">Trạng Thái<span
                  class="{{getSortClass('status')}}"></span></th>
              <th name="Action">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in listProduct | filter:searchText | orderBy:sortColumn:reverseSort">
              <td><input type="checkbox" ng-model="item.isSelected"></td>
              <td ng-show="columns[1].selected" style="text-align: center;"> {{item.name}}</td>
              <td ng-show="columns[2].selected" style="text-align: center;"> {{item.mainImg}}</td>
              <td ng-show="columns[3].selected" style="text-align: center;"> {{item.description}}</td>
              <td ng-show="columns[4].selected" style="text-align: center;"> {{item.brands.name}}</td>
              <td ng-show="columns[5].selected" style="text-align: center;"> {{item.category.name}}</td>
              <td ng-show="columns[6].selected" style="text-align: center;">
                <span ng-if="item.status == true" style="margin-left: -9px;">
                  <i class="fa-solid fa-circle fa-2xs" style="color: #63ff38;margin-right: 2px;"></i> Active
                </span>
                <span ng-if="item.status != true">
                  <i class="fa-solid fa-circle fa-2xs" style="color: #a0a0a0;"></i> Disable
                </span>
              </td>
              <td>
                <a href="#" ng-click="toggleFormUpdate($event, item)" data-toggle="modal"
                  data-target="#productUpdateModal" style="text-decoration: none; color: rgb(62, 44, 165);">
                  <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
                </a>

                <a href="#" ng-click="removeColor($event, item)" style="text-decoration: none; color: #FC424A;">
                  <i class="fas fa-fw fa-trash"></i>
                </a>
              </td>
            </tr>


        </table>
        <!-- phân trang -->
        <nav id="phantrang" aria-label="Page navigation example" style="color: #000000;">

          <p style="margin-top: 20px;">Đang xem {{listProduct[0].id}} đến {{lastIndex}} trong tổng số {{sizePage}} mục
          </p>
          <!-- Phân trang -->
          <ul class="pagination justify-content-end" style="margin-top: 20px;">
            <!-- Các nút phân trang ở đây -->
            <li class="page-item" ng-class="{ 'disabled': pageCurrent === 0, 'hovered': hoveredPage === 'previous' }">
              <a class="page-link" ng-click="previousPage()" ng-class="{ 'disabled-link': pageCurrent === 0 }"
                ng-mouseenter="onHover('previous')" ng-mouseleave="onLeave()"><span
                  aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item" ng-repeat="page in pageRange()"
              ng-class="{ 'active': page === pageCurrent, 'hovered': hoveredPage === page }">
              <a class="page-link" ng-click="PageNo(page, sizePage)" ng-mouseenter="onHover(page)"
                ng-mouseleave="onLeave()">{{ page }}</a>
            </li>

            <li class="page-item"
              ng-class="{ 'disabled': pageCurrent === totalPage - 1, 'hovered': hoveredPage === 'next' }">
              <a class="page-link" ng-click="nextPage()" ng-class="{ 'disabled-link': pageCurrent === totalPage - 1 }"
                ng-mouseenter="onHover('next')" ng-mouseleave="onLeave()"> <span aria-hidden="true">&raquo;</span></a>
            </li>
          </ul>
        </nav>

        <div id="sizePage">
          <label for="itemsPerPage">Xem:</label>
          <select id="itemsPerPage" ng-model="sizePage" ng-init="sizePage = '5'" ng-change="onSizePageChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="100">100</option>
          </select>
          <label for="itemsPerPage">mục</label>
        </div>
        <!-- kết thúc phân trang -->

      </div>
    </div>
  </div>
</div>
<!-- end table -->

<!-- form add -->
<div class="modal fade justify-items-center" id="productAddModal" tabindex="-1" role="dialog"
  aria-labelledby="productAddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="colorAddModalLabel"> Thêm Sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  ">
        <div class="row">
          <form class="forms-sample" name="AddProduct">
            <div class="form-group">
              <label for="exampleSelectGender">Tên sản phẩm</label>
              <input type="text" class="form-control" ng-model="formproduct.name" required maxlength="30" name="txtName"
                ng-class="{'is-invalid': checkAddress && !formproduct.name}">
              <!-- <label ng-show="AddProduct.txtName.$invalid" style="color: #FC424A;">Bạn cần nhập tên Color tối đa 30 ký
                tự</label> -->
            </div>
            <div class="form-group">
              <label for="exampleInputMiddleName">Ảnh chính</label>
              <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Ảnh chính"
                ng-model="formproduct.mainImg" required maxlength="30" name="txtImage"
                ng-class="{'is-invalid': checkAddress && !formproduct.mainImg}">
              <!-- <label ng-show="AddProduct.txtImage.$invalid" style="color: #FC424A;">Bạn cần nhập tối đa 30 ký tự</label> -->
            </div>
            <div class="form-group">
              <label for="exampleInputDescription">Mô tả</label>
              <input type="text" class="form-control" id="exampleInputDescription" placeholder="Mô tả"
                ng-model="formproduct.description" required maxlength="30" name="txtMota"
                ng-class="{'is-invalid': checkAddress && !formproduct.description}">
              <!-- <label ng-show="AddProduct.txtMota.$invalid" style="color: #FC424A;">Bạn cần nhập tối đa 30 ký tự</label> -->
            </div>

            <div class="form-group">
              <label for="exampleInputRate">Brands</label>
              <select class="form-control" id="exampleInputRate" ng-model="formproduct.brands.id"
                ng-class="{'is-invalid': checkAddress && !formproduct.brands.id}">
                <option value="" disabled>-- Select a brand --</option>
                <option ng-repeat="item in brands" value={{item.id}}>{{item.name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputRate">Category</label>
              <select class="form-control" id="exampleInputRate" ng-model="formproduct.category.id"
                ng-class="{'is-invalid': checkAddress && !formproduct.category.id}">
                <option value="" disabled>-- Select a category --</option>
                <option ng-repeat="item in category" value={{item.id}}>{{item.name}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="exampleSelectGender">Trạng Thái</label>
              <select class="form-control" ng-model="formproduct.status"
                ng-class="{'is-invalid': checkAddress && !formproduct.status}">
                <option value="" disabled>-- Chọn Trạng thái --</option>
                <option value=true>Đang hoạt động</option>
                <option value=false>Ngừng hoạt động</option>
              </select>
            </div>
            <div class="modal-footer">
              <button id="btn-action-cancel" type="button" class="btn btn-secondary"
                data-dismiss="modal">Cancel</button>
              <button id="btn-action-add" type="button" class="btn btn-primary"
                ng-click="addProduct($event)">Submit</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- form update -->
<style>
  .modal-dialog .modal-content {
    width: 1400px;
    margin-top: -50px;
    right: 70%;
  }

  .scrollable-modal-body {
    max-height: 800px;
    /* Điều chỉnh chiều cao tối đa theo ý muốn */
    overflow-y: auto;
    /* Tạo thanh cuộn dọc */
  }
</style>
<div class="modal fade justify-items-center" id="productUpdateModal" tabindex="-1" role="dialog"
  aria-labelledby="productUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="colorUpdateModalLabel">Cập nhật Sản phẩm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  ">
        <div class="row">
          <form class="forms-sample">
            <div class="form-group">
              <input type="hidden" class="form-control" ng-model="formProductUpdate.id">
            </div>

            <div class="form-group">
              <label for="exampleSelectGender">Tên sản phẩm</label>
              <input type="text" class="form-control" ng-model="formProductUpdate.name"
              ng-class="{'is-invalid': checkUpdate && !formProductUpdate.name}">
            </div>
            <div class="form-group">
              <label for="exampleInputMiddleName">Ảnh chính</label>
              <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Ảnh chính" required
                ng-model="formProductUpdate.mainImg"
                ng-class="{'is-invalid': checkUpdate && !formProductUpdate.mainImg}">
            </div>
            <div class="form-group">
              <label for="exampleInputDescription">Mô tả </label>
              <input type="text" class="form-control" id="exampleInputEmail" placeholder="Description" required
                ng-model="formProductUpdate.description"
                ng-class="{'is-invalid': checkUpdate && !formProductUpdate.description}">
            </div>
            <div class="form-group">
              <label for="exampleInputRate">Brands</label>
              <select class="form-control" id="exampleInputRate" ng-model="formProductUpdate.brands.id"
                ng-options="brands.id as brands.name for brands in brands"
                ng-class="{'is-invalid': checkUpdate && !formProductUpdate.brands.id}">
                <option value="">Select a brand</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleInputRate">Category</label>
              <select class="form-control" id="exampleInputRate" ng-model="formProductUpdate.category.id"
                ng-options="category.id as category.name for category in category"
                ng-class="{'is-invalid': checkUpdate && !formProductUpdate.category.id}">
                <option value="">Select a category</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleSelectGender">Trạng Thái</label>
              <select class="form-control" id="exampleSelectGender" ng-model="formProductUpdate.status"
                ng-options="status as (status ? 'Đang hoạt động' : 'Ngừng hoạt động') for status in [true, false]"
                ng-class="{'is-invalid': checkUpdate && !formProductUpdate.status}">
                <option value="" disabled>-- Chọn Trạng thái --</option>
              </select>
            </div>

            <div class="modal-footer">
              <button id="btn-action-cancel" type="button" class="btn btn-secondary"
                data-dismiss="modal">Cancel</button>
              <button id="btn-action-add" type="button" class="btn btn-primary"
                ng-click="UpdateProduct($event)">Submit</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>



<!-- list ảnh -->
<style>
  /* Optional: Add some styles to the image */
  .image-pr {
    width: 180px;
    /* Adjust the width as needed */
    height: 160px;
    /* Adjust the height as needed */
    object-fit: cover;

  }

  /* Adjust modal width and margin */
  .modal-dialog-pr {
    width: 80%;
    /* Adjust the width as needed */
    margin: 30px auto;
  }

  /* Customize modal body to display images horizontally */
  .modal-body-pr {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .checkboxImg {
    bottom: 20px;
    background-color: aqua;
  }

  /* Style for each image container */
  .image-container-pr {
    margin: 10px;
    text-align: left;

  }
</style>
<!-- Button to trigger the modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Open Modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog-pr">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Images</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body-pr">
        <div ng-repeat="image in listCheckBox" class="image-container">
          <label class="label-checkbox border rounded-1 m-2">
            <input type="checkbox" ng-model="image.selected" ng-change="updateSelection(image)"
              class="checkboxImg ms-2">
            <img src="/template/images/sp1/{{image.link}}" alt="{{item.link}}" class="image-pr">
          </label>
          <p>{{item.link}}</p>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" ng-click="addImg()">Thêm mới</button>
      </div>

    </div>
  </div>
</div>
<!-- The Modal -->



<div class="import-container">
  <div ng-show="importing" class="import-animation"></div>
  <p ng-show="importing">Processing...</p>
</div>

<Script>
  function triggerFileInput() {
    // Kích hoạt sự kiện click trên input-file
    document.getElementById('input-file').click();
  }

</Script>