<link rel="stylesheet" href="css/css-layout/order.css">
<link rel="stylesheet" href="scss/switch_radio.css">
<link rel="stylesheet" href="css/css-layout/search.css">

<div>
    <h4> Quản lý hóa đơn </h4>
    <div class="row ">
        <div class="nav nav-tabs col ms-3" id="nav-tab" role="tablist">
            <button class="nav-link" ng-repeat="tab in tabs" ng-class="{ 'active': tab.active }"
                ng-click="activateTab(tab)" ng-style="{'font-weight': tab.active ? 'bold' : 'normal'}">
                {{ tab.title }} 
                <span ng-click="removeBill(tab)" style="cursor: pointer; margin-left: 5px;" ng-if="tabs.length > 0 "><i
                        class="fa-sharp fa-solid fa-xmark ms-2"></i></span>
            </button>

            <span ng-if="!tab.isLast" ng-click="addNewTab(tab)" style="cursor: pointer; margin-left: 5px;"><i
                    class="fa-sharp fa-light fa-circle-plus fs-4" style="margin-top: 12px;" title="Tạo mới hóa đơn "
                    ng-if="tabs.length > 0"></i>
                <button class="btn btn-outline-primary ms-2 mt-3" ng-show="tabs.length == 0"> Tạo mới hóa
                    đơn</button></span>
            <button class="btn btn-outline-primary ms-2 mt-3" ng-click="clear()" hidden> Reset</button>
        </div>
        <div class="tab-content ms-3 bg-light" id="nav-tabContent">
            <div class="text-center" ng-show="tabs.length == 0">
                <img src="images/logo.png" alt="" class="text-center w-25 h-25 ">
            </div>
            <div class="tab-pane fade show" ng-repeat="tab in tabs track by tab.id" ng-class="{ 'active': tab.active }">
                <div class="row h-25">
                    <div class="col-7 d-flex ms-2" ng-click="resetDH(tab)">
                        <!-- <input type="checkbox" id="switch" ng-model="tab.formData.checkAct"
                            ng-change="saveTabsToLocalStorage()" ng-click="resetDH(tab)" /><label for="switch"
                            id="switch">Toggle</label> -->
                            <span  style="text-align: center; font-size: 20px; ">
                                <i ng-if="tab.formData.checkAct" class="fa-2xl fa fa-toggle-on"
                                    style="color: rgb(120, 204, 107); margin-left: -9px;"></i>
                                <i ng-if="!tab.formData.checkAct" class="fa-2xl fa fa-toggle-off" style="color: #827575;"></i>
                            </span>
                        <p class="mt-1 ms-2 fs-5 text-primary-emphasis">Đặt hàng</p>
                    </div>
                    <!-- QR -->
                    <button ng-click="startCam(tab)" class="text-center btn btn-outline-primary ms-5 col-1"
                        style="width: 50px;" data-toggle="modal" data-target="#qrModal"><i
                            class="fa-regular fa-qrcode fs-3 w-100 "></i></button>

                    <div class="custom-dropdown-sell" ng-if="tabs.length > 0">
                        <input type="text" class="form-control" id="productInput" ng-click="toggleDropdown()"
                            placeholder="Search products" ng-model="tab.formData.search"
                            ng-change="filterProducts(tab)">
                        <div id="productDropdown" class="dropdown-content-sell w-100">
                            <!-- Product options go here -->
                            <div ng-repeat="pr in filteredItems">
                                <button ng-click="selectProduct(tab,pr)" class=" border-0 row bg-light">
                                    <img ng-src="{{'/template/images/sp1/' + pr.product.listImage[0].link }}"
                                        class="img-fluid w-25 h-25 border rounded-4"
                                        alt="{{pr.product.listImage[0].link}}">
                                    <span class="col-8 h-25 row text-start mb-2">
                                        <span class="prName-sell col "> {{pr.product.name}}</span>
                                        <span class="text-end col-3 text-danger me-3" ng-show="pr.hasPromotion">{{pr.priceWithPromo | vndCurrency}}</span>
                                        <br>
                                        <span class="text-end col-2 text-decoration-line-through" ng-show="pr.hasPromotion">{{pr.price | vndCurrency}}</span>
                                        <span class="text-end col-2 " ng-show="!pr.hasPromotion">{{pr.price | vndCurrency}}</span>

                                        <span class=" fw-bold">[{{pr.size.name}} - {{pr.color.name}}]</span>
                                        <span class=" ">Còn lại: {{pr.quantity}}</span>
                                    </span>
                                </button>
                                <hr class="mt-2">
                            </div>
                            <!-- Add more products as needed -->
                        </div>
                    </div>
                </div>
                <div class="bg-light">
                    <form class="forms-sample row border rounded-4" ng-if="tab.active"
                        ng-submit="submitForm($event,tab)">
                        <div class="col-lg-5">
                            <div class="form-group text-center mt-2">
                                <h5>Thông tin khách hàng</h5>
                            </div>
                            <div class="row mb-2" >
                                <div class="custom-dropdown-user form-group col-lg justify-items-end">
                                    <label for="customerSearch">Tìm Khách Hàng</label>
                                    <input type="search" class="form-control" id="exampleInputMiddleName"
                                        placeholder="Tìm kiếm theo sdt hoặc tên" ng-model="tab.formData.userPhone"
                                        ng-change="searchCustomers(tab)">
                                    <div id="customerDropdown" class="dropdown-content-user">
                                        <div ng-repeat="user in filteredUsers">
                                            <button ng-click="selectCustomer(user, tab)" type="button"
                                                class="border-0  bg-light text-start">
                                                <span class="">{{user.name}}</span>
                                                <br>
                                                <span class="">SDT: {{user.phoneNumber}}</span>
                                            </button>
                                            <hr class="mt-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-lg mt-1">
                                    <input type="text" class="form-control mt-4" id="exampleInputMiddleName"
                                        placeholder="Khách hàng" ng-model="tab.formData.userName" maxlength="10" ng-disabled = "disabled">
                                </div>
                       
                            </div>

                            <div class="form-group">
                                <label for="exampleInputDate">Mã hóa đơn</label>
                                <input type="text" class="form-control" id="exampleInputDate" placeholder=""
                                    ng-model="tab.formData.code" readonly>
                            </div>
                            <div class="row ">
                                <div class="form-group col-lg ">
                                    <label for="exampleInputDate">Nhân viên</label>
                                    <input type="search" class="form-control" id="exampleInputMiddleName"
                                        placeholder="Search by phone or email" ng-model="formNotEditAdmin.staffName"
                                        readonly>
                                </div>
                                <div class="form-group col-lg justify-items-end">
                                    <label for="exampleInputMiddleName">Số điện thoại</label>
                                    <input type="text" class="form-control" id="exampleInputMiddleName"
                                        placeholder="Họ và Tên" ng-model="formNotEditAdmin.staffPhone" readonly>
                                </div>
                            </div>
                            <div class="row" ng-show="tab.formData.checkAct"
                                ng-init="loadDistrict(tab.formData.provinceId)">
                                <div class="form-group col-lg" ng-init="loadWard(tab.formData.districtId)">
                                    <label for="exampleInputDate">Địa chỉ</label>
                                    <select id="select1" class="form-select col" ng-model="tab.formData.provinceId"
                                        ng-change="loadDistrict(tab.formData.provinceId)"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.provinceId}">
                                        <option value="">Tỉnh/Thành phố</option>
                                        <option ng-repeat="provin in provinces" ng-value="provin.ProvinceID">
                                            {{provin.ProvinceName}}</option>
                                    </select>
                                    <select id="select2" class="form-select col" ng-model="tab.formData.districtId"
                                        ng-change="loadWard(tab.formData.districtId)"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.districtId}">
                                        <option value="">Quận/Huyện</option>
                                        <option ng-repeat="district in districts" ng-value="district.DistrictID">
                                            {{district.DistrictName}}</option>
                                    </select>
                                    <select id="select3" class="form-select col" ng-model="tab.formData.wardId"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.wardId}"
                                        ng-change="getFee(tab)">
                                        <option value="">Phường/Xã</option>
                                        <option ng-repeat="ward in wards" ng-value="ward.WardCode">{{ward.WardName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="form-group col-lg justify-items-end">
                                    <label for="exampleInputMiddleName">Địa chỉ chi tiết</label>
                                    <textarea type="text" class="form-control" id="exampleInputMiddleName"
                                        placeholder="Địa chỉ chi tiết"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.address}"
                                        ng-model="tab.formData.address" ng-change="saveTabsToLocalStorage()"></textarea>
                                </div>
                            </div>
                            <div class="row" ng-show="tab.formData.checkAct">
                                <!-- <div class="form-group col-lg ">
                                    <label for="exampleInputDate">Khuyến mãi</label>
                                    <input type="search" class="form-control" id="exampleInputMiddleName"
                                        placeholder="0đ" ng-class="{'is-invalid': checkAddress && !tab.formData.fee}"
                                        ng-model="tab.formData.fee">
                                </div> -->
                                <div class="form-group col-lg ">
                                    <label for="exampleInputDate">Phí vận chuyển</label>
                                    <input type="search" class="form-control" id="exampleInputMiddleName"
                                        placeholder="0đ" ng-class="{'is-invalid': checkAddress && !tab.formData.fee}"
                                        ng-model="tab.formData.fee" ng-value="tab.formData.fee | vndCurrency">
                                </div>

                            </div>
                            <div class="row">
                                <div class="form-group col-lg justify-items-end ">
                                    <label for="exampleInputMiddleName">Tổng tiền sản phẩm</label>
                                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="0đ"
                                        ng-model="tab.formData.totalPay" ng-value="tab.formData.totalPay | vndCurrency"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.totalPay}" readonly>
                                </div>
                                <div class="form-group col-lg justify-items-end">
                                    <label for="exampleInputMiddleName">Phương thức thanh toán</label>
                                    <!-- Trong AngularJS, bạn có thể gán giá trị mặc định trực tiếp vào model -->
                                    <select class="form-select mt-1" id="exampleInputMiddleName"
                                        ng-model="tab.formData.optionPay"
                                        ng-class="{'is-invalid': checkAddress && !tab.formData.optionPay}"
                                        ng-change="changeSelect(tab)">
                                        <option value="" disable>---Chọn phương thức---</option>
                                        <option value="0">Thanh toán bằng tiền mặt</option>
                                        <option value="1">Thanh toán chuyển khoản</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" ng-show="!tab.formData.checkAct">
                                <div class="form-group col-lg justify-items-end ">
                                    <label for="exampleInputMiddleName">Tiền khách trả: </label>
                                    <input type="money" class="form-control" id="userPay"
                                        placeholder="0đ" ng-model="tab.formData.userPay" ng-change="changCurrency(tab)"
                                         ng-class="{'is-invalid': checkAddress && !tab.formData.userPay }"
                                         >
                                </div>
                                <div class="form-group col-lg justify-items-end ">
                                    <label for="exampleInputMiddleName">Tiền trả lại: </label>
                                    <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="0đ"
                                        ng-model="tab.formData.moneyBack" readonly ng-class="{'is-invalid': checkAddress && !tab.formData.moneyBack }">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg scrollable-modal-body border rounded-4 z-0">
                            <div class="text-center mt-2 mb-4">
                                <h5>Giỏ hàng</h5>
                            </div>
                            <table class="table   table-hover expandable-table ">
                                <thead class="sticky-top fs-4 thead-light">
                                    <tr class="fs-1">
                                        <th>#</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle text-center table-group-divider">
                                    <tr ng-repeat="pr in tab.formData.listPrByCart" varStatus="loop">
                                        <td>{{$index +1}}</td>
                                        <td>{{pr.productDetail.product.name}} [{{pr.productDetail.size.name}} -
                                            {{pr.productDetail.color.name}}] </td>
                                        <td class="h-25 align-middle ">
                                            <div class="input-group quantity-input">
                                                <div class="input-group-prepend">
                                                    <button class="quantity-button border-1" type="button"
                                                        ng-click="decreaseQuantity(tab,pr)">
                                                        <i class="fa-sharp fa-solid fa-minus"></i>
                                                    </button>
                                                </div>
                                                <!-- Sử dụng ng-model để liên kết quantity với productInfoList.quantity -->
                                                <input type="number" class="quantity-value border-1 "
                                                    aria-label="Quantity" ng-model="pr.quantity"
                                                    ng-keypress="onInputKeyPress($event,tab,pr)"
                                                    ng-blur="onInputBlur(tab,pr)">

                                                <div class="input-group-append">
                                                    <button class="quantity-button border-1" type="button"
                                                        ng-click="increaseQuantity(tab,pr)">
                                                        <i class="fa-sharp fa-solid fa-plus"></i>
                                                    </button>
                                                </div>
                                        </td>
                                        <td class="align-middle text-center" ng-show="!pr.hasPromotion">{{pr.productDetail.price |
                                            vndCurrency }}</td>
                                        <td class="pt-3 ps-4 align-middle text-center" ng-show="pr.hasPromotion"> <span
                                                class=" text-danger">{{pr.priceWithPromo| vndCurrency}}</span> <br>
                                            <span class=" text-decoration-line-through">{{pr.productDetail.price| vndCurrency}}</span>
                                        </td>
                                        <td ng-show="!pr.hasPromotion">{{calculateTotalPrice(pr)| vndCurrency}}</td>
                                        <td ng-show="pr.hasPromotion">{{(pr.priceWithPromo * pr.quantity) | vndCurrency}}</td>
                                        <!-- <td>{{pr}}</td> -->

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-end">
                            <!-- <button id="" type="button" class="btn btn-warning" ng-click="generatePDF(tab)">Xuất hóa đơn</button> -->
                            <button id="btn-action-cancel" type="button" class="btn btn-secondary " data-dismiss="modal"
                                ng-click="removeBill(tab)">Hủy</button>
                            <button id="btn-action-add" type="submit" class="btn btn-primary">Xuất hóa đơn</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap Modal for QR Code Scanner -->
    <div class="modal fade" id="qrModal" tabindex="-1" role="dialog" aria-labelledby="qrModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="qrModalLabel">Product QR Code Scanner</h4>
                </div>
                <div class="modal-body">
                    <!-- Video container -->
                    <div>
                        <video id="scanner"></video>
                    </div>
                    <!-- Result container -->
                    <div id="result-container">
                        <p>Product Code: <span id="result">{{ detectedCode }}</span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    /* Custom styles for the QR code scanner modal */
    #qrModal {
        background-color: rgba(0, 0, 0, 0.5);
        /* Semi-transparent black background */
    }

    #qrModal .modal-dialog {
        max-width: 680px;
        /* Set the maximum width of the modal */
    }

    #qrModal .modal-header {
        background-color: #337ab7;
        /* Blue header background */
        color: #fff;
        /* White text */
        border-bottom: 1px solid #ddd;
        /* Gray border bottom */
    }

    #qrModal .modal-title {
        margin: 0;
        /* Remove default margin for modal title */
    }

    #qrModal .modal-body {
        padding: 20px;
        /* Add padding to the modal body */
    }

    #result-container {
        margin-top: 20px;
        /* Add margin to the result container */
    }

    /* Customize button styles */
    #qrModal .btn-primary {
        background-color: #337ab7;
        /* Blue button background */
        border-color: #2e6da4;
        /* Darker blue border */
    }

    #qrModal .btn-primary:hover,
    #qrModal .btn-primary:focus {
        background-color: #286090;
        /* Darker blue on hover/focus */
        border-color: #204d74;
        /* Darker blue border on hover/focus */
    }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<Script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</Script>

</div>