<div class="col-lg-12 grid-margin stretch-card">
  
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Quản lý khách hàng </h4>
      <div class="search-container">
        <input type="text" id="btn-search" ng-model="searchText" placeholder="Tìm kiếm khách hàng">
        <i class="fa-light fa-magnifying-glass"></i>
      </div>


      <button ng-click="deleteAll()" id="delete-all" class="btn btn-outline-danger"><i class="fa-duotone fa-trash"></i> Xoá
        Nhiều</button>
        <button  data-bs-toggle="modal" data-bs-target="#userAddModal" id="delete-all" class="btn btn-outline-primary" ng-click="toggleForm()" >
          <i class=" fa-solid fa-plus fa-lg mr-2"   ></i>Thêm Mới
      </button>

      <div class="btn-group">

  
        <button type="button" id="btn-icon" class="btn btn-secondary" ng-click="reLoad()">
          <i class="fa-solid fa-arrows-rotate "></i>
        </button>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuIconButton3"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-list"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton3">
            <label class="dropdown-item">
              <input type="checkbox" ng-model="selectAll" ng-change="toggleAll()"> Chọn Tất Cả
            </label>
            <hr>
            <label class="dropdown-item" ng-repeat="column in columns">
              <input type="checkbox" ng-model="column.selected" ng-change="toggleColumn(column)">
              {{ column.name }}
            </label>
          </div>
        </div>


        <input type="file" id="input-file" onchange="angular.element(this).scope().import(this.files)"
          style="display:none;">
        <button type="button" id="btn-icon" class="btn btn-secondary " onclick="triggerFileInput()">
          <i class="fa-sharp fa-solid fa-file-import"></i>
        </button>

        <div class="btn-group">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuIconButton1"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-down-to-line"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton1">
            <a class="dropdown-item" ng-click="exportToSVG()">SVG</a>
            <a class="dropdown-item" ng-click="exportToExcel()">Excel</a>
            <a class="dropdown-item" ng-click="exportToPDF();">PDF</a>
          </div>
        </div>

      </div>

      <div class="form-check form-switch ms-2">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" ng-model="checkAcc"
          ng-change="switchAcc()">
        <label class="form-check-label" for="flexSwitchCheckChecked">Tài khoản khách hàng</label>
      </div>
      <!-- start table -->
      <div class="table-responsive pt-3">
        <table class="table expandable-table table-hover" style="width: 100%" id="UserTable">
          <thead>
            <tr>
              <th>
                <input ng-model="selectAllCheckbox" ng-change="selectAllChanged()" class="select-checkbox"
                  type="checkbox"> #
              </th>
              <th ng-show="columns[1].selected" ng-click="sortData('name')">Họ và Tên<span
                  class="{{getSortClass('name')}}"></span></th>
              <th ng-show="columns[2].selected" ng-click="sortData('dateOfBirth')">Ngày Sinh<span
                  class="{{getSortClass('dateOfBirth')}}"></span></th>
              <th ng-show="columns[3].selected" ng-click="sortData('gender')">Giới Tính<span
                  class="{{getSortClass('gender')}}"></span></th>
              <th ng-show="columns[4].selected" ng-click="sortData('email')">Email<span
                  class="{{getSortClass('email')}}"></span></th>
              <th ng-show="columns[5].selected" ng-click="sortData('phoneNumber')">Số Điện Thoại<span
                  class="{{getSortClass('phoneNumber')}}"></span></th>
              <th ng-show="columns[6].selected" ng-click="sortData('phoneNumber')">Tên đăng nhập<span
                  class="{{getSortClass('phoneNumber')}}"></span></th>
              <th ng-show="columns[7].selected" ng-click="sortData('phoneNumber')">Mật khẩu<span
                  class="{{getSortClass('phoneNumber')}}"></span></th>
              <th ng-show="columns[8].selected" ng-click="sortData('phoneNumber')">Trạng thái<span
                  class="{{getSortClass('phoneNumber')}}"></span></th>
              <!-- <th ng-show="columns[8].selected" ng-click="sortData('phoneNumber')">Địa chỉ<span
                    class="{{getSortClass('phoneNumber')}}"></span></th> -->
              <th name="Action">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in listUSers | filter:searchText | orderBy:sortColumn:reverseSort"
              ng-click="loadBillByUs(item.id)">
              <td><input type="checkbox" ng-model="item.isSelected"></td>
              <td ng-show="columns[1].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.name ||
                "None"}} </td>
              <td ng-show="columns[2].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.dateOfBirth
                |dateformat }}</td>
              <td ng-show="columns[3].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.gender ==
                true ? 'nam' : 'nữ' }}</td>
              <td ng-show="columns[4].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.email }}</td>
              <td ng-show="columns[5].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.phoneNumber
                }}</td>
              <td ng-show="columns[6].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.userName }}
              </td>
              <td ng-show="columns[7].selected" data-bs-target="#modalBill" data-bs-toggle="modal">{{ item.password }}
              </td>
              <!-- <td ng-show="columns[8].selected">{{ item.addressList }}</td> -->
              <td ng-click="switchStatus(item.id)">
                <span ng-show="columns[8].selected" style="text-align: center;">
                  <i ng-if="item.status" class="fa-2xl fa fa-toggle-on"
                    style="color: rgb(120, 204, 107); margin-left: -9px;"></i>
                  <i ng-if="!item.status" class="fa-2xl fa fa-toggle-off" style="color: #827575;"></i>
                </span>
              </td>
              <td>
                <a href="#" ng-click="toggleFormUpdate($event, item)" style="text-decoration: none; color: #1545e1;"
                  data-bs-target="#userUpdateModal" data-bs-toggle="modal">
                  <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="#" ng-click="removeStaff($event, item)" style="text-decoration: none; color: #FC424A;">
                  <i class="fas fa-fw fa-trash"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

        <hr>
        <!-- phân trang -->
        <nav id="phantrang" aria-label="Page navigation example" style="color: #000000;">

          <p style="margin-top: 20px;">Đang xem {{listUSers[0].id}} đến {{lastIndex}} trong tổng số {{sizePage}} mục</p>
          <!-- Phân trang -->
          <ul class="pagination justify-content-end" style="margin-top: 20px;">
            <!-- Các nút phân trang ở đây -->
            <li class="page-item" ng-class="{ 'disabled': pageCurrent === 0, 'hovered': hoveredPage === 'previous' }">
              <a class="page-link" ng-click="previousPage()" ng-class="{ 'disabled-link': pageCurrent === 0 }"
                ng-mouseenter="onHover('previous')" ng-mouseleave="onLeave()"><span
                  aria-hidden="true">&laquo;</span></a>
            </li>
            <li class="page-item" ng-repeat="page in pageRange()"
              ng-class="{ 'active': page === pageCurrent, 'hovered': hoveredPage === page }">
              <a class="page-link" ng-click="PageNo(page, sizePage)" ng-mouseenter="onHover(page)"
                ng-mouseleave="onLeave()">{{ page }}</a>
            </li>

            <li class="page-item"
              ng-class="{ 'disabled': pageCurrent === totalPage - 1, 'hovered': hoveredPage === 'next' }">
              <a class="page-link" ng-click="nextPage()" ng-class="{ 'disabled-link': pageCurrent === totalPage - 1 }"
                ng-mouseenter="onHover('next')" ng-mouseleave="onLeave()"> <span aria-hidden="true">&raquo;</span></a>
            </li>
          </ul>
        </nav>

        <div id="sizePage">
          <label for="itemsPerPage">Xem:</label>
          <select id="itemsPerPage" ng-model="sizePage" ng-init="sizePage = '5'" ng-change="onSizePageChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="100">100</option>
          </select>
          <label for="itemsPerPage">mục</label>
        </div>
        <!-- kết thúc phân trang -->

      </div>
    </div>
  </div>
</div>
<!-- end table -->
<!-- hoa don -->
<div class="modal fade custom-modal" id="modalBill">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content offset-10">
      <div class="modal-header">
        <h3> Hóa đơn khách hàng ({{ itemsOrder.length }}) </h3>
        <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
        <!-- <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">a</button> -->

      </div>
      <div class="modal-body">
        <div class="table-responsive pt-3">
          <div class="table-responsive pt-3">
            <table class="table expandable-table table-hover" style="width: 100%" id="DTProductTable">
              <thead>
                <tr>
                  <th ng-click="sortData('id')">#<span class="{{getSortClass('id')}}"></span></th>
                  <!-- Cột cho Họ và Tên -->
                  <th ng-click="sortData('product.name')">Mã Hóa đơn<span
                      class="{{getSortClass('product.name')}}"></span></th>
                  <!-- Cột cho Số lượng -->
                  <th ng-click="sortData('quantity')">Tổng tiền<span class="{{getSortClass('quantity')}}"></span></th>
                  <!-- Cột cho Giá -->
                  <th ng-click="sortData('price')">Người nhận<span class="{{getSortClass('price')}}"></span></th>
                  <!-- Cột cho Chất liệu -->
                  <th ng-click="sortData('material.name')">Số điện thoại<span
                      class="{{getSortClass('material.name')}}"></span></th>
                  <!-- Cột cho Kích thước -->
                  <th ng-click="sortData('size.name')">Ngày mua<span class="{{getSortClass('size.name')}}"></span>
                  </th>
                  <!-- Cột cho Màu sắc -->
                  <th ng-click="sortData('color.name')">Trạng thái<span class="{{getSortClass('color.name')}}"></span>
                  </th>
                </tr>
              </thead>
              <tbody class="table-hover">
                <tr ng-repeat="item in itemsOrder | filter:searchText | orderBy:sortColumn:reverseSort | orderBy:'-id'">
                  <td>{{$index +1}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.totalPay | vndCurrency}}</td>
                  <td>{{item.userName}}</td>
                  <td>{{item.userPhone}}</td>
                  <td>{{item.createdAt | dateformat}}</td>
                  <td>{{item.status | orderStatus}}</td>
                  <!-- <td>
                    <a href="#" ng-click="toggleFormUpdate($event,item)" style="text-decoration: none; color: #1545e1;"
                      data-bs-dismiss="modal" data-toggle="modal" data-target="#formUpdateModal"><i
                        class="fa-solid fa-pen-to-square "></i> </a>
                    <a href="#" ng-click="removeStaff($event,item)" style="text-decoration: none; color: #FC424A;"> <i
                        class="fas fa-fw  fa-trash "></i> </a>
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hoa don -->

<style>
  .modal-dialog .modal-content {
    width: 1200px;
    margin-top: -50px;
    right: 70%;
  }

  .scrollable-modal-body {
    max-height: 800px;
    /* Điều chỉnh chiều cao tối đa theo ý muốn */
    overflow-y: auto;
    /* Tạo thanh cuộn dọc */
  }
</style>

<!-- form add -->
<div class="modal fade" id="userAddModal" tabindex="-1" aria-labelledby="userAddModalLabel" aria-hidden="true">
  <div class="modal-dialog col-12">
    <div class="modal-content" style="width: 1000px; right: 40%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userAddModalLabel">Thêm mới Khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height: 700px; overflow-y: auto;">
        <form class="forms-sample" name="myForm">
          <div class="form-group">
            <input type="hidden" class="form-control" ng-model="formUser.id">
          </div>
          <div class="form-group">
            <label for="exampleInputMiddleName">Tên Khách Hàng</label>
            <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên" required
              ng-model="formUser.name">
          </div>
          <div class="form-group">
            <label for="exampleInputDate">Ngày Sinh</label>
            <input type="date" class="form-control" id="exampleInputDate" name="dateOfBirth"
              ng-model="formUser.dateOfBirth" ng-class="{'is-invalid': checkAdd && !isValidDate()}">
            <span class="error-message text-danger form-text"
              ng-show="myForm.dateOfBirth.$error.dateTooYoung && (myForm.dateOfBirth.$dirty || myForm.$submitted)">
              Khách hàng chưa đủ độ tuổi hợp lý.
            </span>
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Giới Tính</label>
            <select class="form-control" id="exampleSelectGender" ng-model="formUser.gender"
              ng-class="{'is-invalid': checkAdd && !formUser.gender}">
              <option value="" disabled>-- Chọn Giới Tính --</option>
              <option value="true" ng-selected="formUser.gender === 'true'">Nam</option>
              <option value="false" ng-selected="formUser.gender === 'false'">Nữ</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email"
              ng-model="formUser.email" name="email"
              ng-class="{'is-invalid': checkAdd && (myForm.email.$error.email || myForm.email.$error.emailExists || !formUser.email)}"
              required>
            <span class="error-message text-danger form-text"
              ng-show="(myForm.email.$error.email && (myForm.email.$dirty || myForm.$submitted)) || myForm.email.$error.emailExists">
              <span ng-show="myForm.email.$error.email && (myForm.email.$dirty || myForm.$submitted)">
                Hãy nhập Email hợp lệ.
              </span>
              <span ng-show="myForm.email.$error.emailExists">
                Email đã tồn tại.
              </span>
            </span>
          </div>

          <div class="form-group">
            <label for="exampleInputSDT">Số Điện Thoại</label>
            <input type="tel" class="form-control" id="exampleInputSDT" placeholder="Phone Number"
              ng-model="formUser.phoneNumber" name="phoneNumber"
              ng-class="{'is-invalid': checkAdd && (myForm.phoneNumber.$error.pattern || myForm.phoneNumber.$error.phoneNumberExists || !formUser.phoneNumber)}"
              required ng-pattern="/^(03|05|07|08|09)[0-9]{8}$/">
            <span class="error-message text-danger form-text"
              ng-show="(myForm.phoneNumber.$error.pattern && (myForm.phoneNumber.$dirty || myForm.$submitted)) || myForm.phoneNumber.$error.phoneNumberExists">
              <span ng-show="myForm.phoneNumber.$error.pattern && (myForm.phoneNumber.$dirty || myForm.$submitted)">
                Hãy nhập Số điện thoại hợp lệ.
              </span>
              <span ng-show="myForm.phoneNumber.$error.phoneNumberExists">
                Số điện thoại đã tồn tại.
              </span>
            </span>
          </div>

      </div>
      <div class="modal-footer sticky-bottom">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="addUser($event)">Submit</button>
      </div>
      </form>

    </div>
  </div>
</div>

<!-- form update -->
<div class="modal fade" id="userUpdateModal" tabindex="-1" aria-labelledby="userUpdateModalLabel" aria-hidden="true">
  <div class="modal-dialog col-12">
    <div class="modal-content" style="width: 1000px; right: 40%;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userUpdateModalLabel">Cập nhật Khách hàng</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="max-height: 700px; overflow-y: auto;">
        <form class="forms-sample">
          <div class="form-group">
            <input type="hidden" class="form-control" ng-model="formUserUpdate.id">
            <input type="hidden" class="form-control" ng-model="formUserUpdate.createdDate">
          </div>
          <div class="form-group">
            <label for="exampleInputMiddleName">Tên Khách Hàng</label>
            <input type="text" class="form-control" id="exampleInputMiddleName" placeholder="Họ và Tên" required
              ng-model="formUserUpdate.name">
          </div>
          <div class="form-group">
            <label for="exampleInputDate">Ngày Sinh</label>
            <input type="date" class="form-control" id="exampleInputDate" placeholder="VD : 03/10/2003"
              ng-model="formUserUpdate.dateOfBirth">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Giới Tính</label>
            <select class="form-control" id="exampleSelectGender" ng-model="formUserUpdate.gender"
              ng-options="gender as (gender ? 'Nam' : 'Nữ') for gender in [true, false]">
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" required
              ng-model="formUserUpdate.email">
          </div>
          <div class="form-group">
            <label for="exampleInputSDT">Số Điện Thoại</label>
            <input type="text" class="form-control" id="exampleInputSDT" placeholder="Phone Number"
              ng-model="formUserUpdate.phoneNumber">
          </div>
          <div class="modal-footer sticky-bottom">
            <button id="btn-action-add" ng-click="UpdateUser($event)">Submit</button>
            <button id="btn-action-cancel" ng-click="toggleFormUpdate($event, null)" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
  </div>
</div>



<div class="import-container">
  <div ng-show="importing" class="import-animation"></div>
  <p ng-show="importing">Processing...</p>
</div>

<Script>
  function triggerFileInput() {
    // Kích hoạt sự kiện click trên input-file
    document.getElementById('input-file').click();
  }

</Script>


<Script>
  $(document).ready(function () {
    $('.dropdown-toggle').dropdown();
  });
</Script>

